services:
  - type: web
    name: mrpack2server-files-gen
    env: docker  # <--- CHANGED FROM 'python' TO 'docker'
    plan: free
    region: oregon
    # Build command is irrelevant for Docker (it uses the Dockerfile)
    # Start command is defined in the Dockerfile
    envVars:
      - key: PORT
        value: 8090
      - key: PRIMARY_WORKER
        value: 1
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /
    disk:
      name: server-storage
      mountPath: /opt/render/project/src/data
      sizeGB: 1