services:
  - type: web
    name: mrpack2server-files-gen
    env: python
    plan: free
    region: oregon
    buildCommand: |
      pip install --upgrade pip && 
      pip install -r requirements.txt && 
      bash setup_java.sh
    startCommand: bash start.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.2
      - key: PORT
        value: 8090
      - key: PRIMARY_WORKER
        value: 1
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /health
    disk:
      name: server-storage
      mountPath: /opt/render/project/src/data
      sizeGB: 1
